
<template>
  <div class='analysis'>
    <form>
      <fieldset>
        <label for='identifier'>Identifier</label>
        <input 
          type='text'
          v-model='identifier'
          id='identifier'
        />
      </fieldset>
      <fieldset>
        <label for='codes'>Codes</label>
        <textarea 
          type='text'
          v-model='codes'
          id='codes'
        />
      </fieldset>
      <fieldset>
        <label for='step'>Step</label>
        <select 
          v-model='step'
          id='step'
        >
          <option
            v-for='i in  [1,2]'
            :key='`step${i}`'
            :value='i'
          >{{i}}</option>
        </select>
      </fieldset>
      <fieldset>
        <button type="submit" v-on:mouseup='runAnalysis'>Run analysis</button>
      </fieldset>
    </form>
    <div class='result'>
    </div>
    
  </div>
</template>
<script>

export default {
  components: {  },
  name: 'adminoff',
  props: [],
  data() {
    return {
      identifier: '',
      codes:[],
      step:1
    }
  },
  computed: {
    
  },
  methods: {
    async runAnalysis() {
        await fetch(process.env.VUE_APP_PROTOCOL + '://' + process.env.VUE_APP_SERVER + '/api/openfoodfacts/'+this.identifier, {
            method: 'POST',
            body: JSON.stringify({
                identifier: this.identifier,
                codes: this.checkCodes(this.codes),
                step: this.step
            }),
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin':'*' 
            }
        }).then(res => res.json())
        
    },
    checkCodes(codes) {
        const regex = RegExp(/^\d{1,}$/)
        let splitcodes = codes.split('\n')
        if(splitcodes.length === 1) {
            splitcodes = codes.split(',')
            if(splitcodes.length === 1) {
                splitcodes = codes.split(';')
            }
        }
        return splitcodes.filter(code => {
            return regex.test(code)
        })
    }
  }
}
</script>
<style scoped>
form {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 800px;
}
fieldset {
  border: none;
}
input{
  width: 300px;
}

input#constraint{
  width: 900px;
}

</style>
