
<template>
  <div class='analysis'>
    <form>
      <fieldset>
        <label for='identifier'>Identifier</label>
        <input 
          type='text'
          v-model='identifier'
          id='identifier'
        />
      </fieldset>
      <fieldset>
        <label for='endpoint'>Endpoint</label>
        <input 
          type='text'
          v-model='endpoint'
          id='endpoint'
        />
        <label for='constraint'>Items definition</label>
        <input 
          type='text'
          v-model='constraint'
          id='constraint'
        />
      </fieldset>
      <fieldset>
        <label for='maxdepth'>Max-depth</label>
        <select 
          v-model='maxdepth'
          id='maxdepth'
        >
          <option
            v-for='i in  [1,2,3]'
            :key='`maxdepth${i}`'
            :value='i'
          >{{i}}</option>
        </select>
      </fieldset>
      <fieldset>
        <label for='step'>Step start</label>
        <select 
          v-model='step'
          id='step'
        >
          <option
            v-for='i in  [1,2,3,4,5,6,7]'
            :key='`step${i}`'
            :value='i'
          >{{i}}</option>
        </select>
      </fieldset>
      <fieldset>
        <label for='step2'>Step end</label>
        <select 
          v-model='step2'
          id='step2'
        >
          <option
            v-for='i in  [1,2,3,4,5,6,7]'
            :key='`step2-${i}`'
            :value='i'
          >{{i}}</option>
        </select>
      </fieldset>
      <fieldset>
        <label for='maxvaluessummary'>Maximum number of values for the path used to retrieve entities</label>
        <input 
          type='text'
          v-model='maxvaluessummary'
          id='maxvaluessummary'
        />
        <label for='maxquota'>Maximum number of entities for the first value of this path</label>
        <input 
          type='text'
          v-model='maxquota'
          id='maxquota'
        />
        <label for='minquota'>Minimum number of entities for the first value of this path</label>
        <input 
          type='text'
          v-model='minquota'
          id='minquota'
        />
      </fieldset>
      <fieldset>
        <button type="submit" v-on:mouseup='runAnalysis'>Run analysis</button>
      </fieldset>
    </form>
    <div class='result'>
    </div>
    <table>
      <tr>
        <th>Identifier</th>
        <th>Items (?s) definition</th>
        <th>Update</th>
      </tr>
      <tr>
        <td>Comics</td>
        <td>Comics</td>
        <td>Comics</td>
      </tr>
    </table>
  </div>
</template>
<script>

export default {
  components: {  },
  name: 'admin',
  props: [],
  data() {
    return {
      identifier: '',
      maxdepth:1,
      step:1,
      step2:7,
      endpoint:'https://query.wikidata.org/sparql',
      rawpaths:undefined,
      pathsummary:undefined,
      entities:undefined,
      entitiespaths:undefined,
      constraint:'',
      maxvaluessummary:100,
      maxquota:10000,
      minquota:''
    }
  },
  computed: {
    
  },
  methods: {
    async runAnalysis() {
      let results = await fetch(process.env.VUE_APP_PROTOCOL + '://' + process.env.VUE_APP_SERVER + '/api/analysis/'+this.identifier, {
          method: 'POST',
          body: JSON.stringify({
            identifier: this.identifier,
            maxdepth: this.maxdepth,
            endpoint: this.endpoint,
            pred: undefined,
            step: this.step,
            step2: this.step2,
            constraint: this.constraint,
            obj: undefined,
            maxvaluessummary:this.maxvaluessummary,
            maxquota:this.maxquota,
            minquota: this.minquota !== '' ? this.minquota : undefined
          }),
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin':'*' 
          }
        }).then(res => res.json())
      this.rawpaths = results.rawpaths
      this.pathsummary = results.pathsummary
      this.entities = results.entities
      this.entitiespaths = results.entitiespaths
    }
  }
}
</script>
<style scoped>
form {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 800px;
}
fieldset {
  border: none;
}
input{
  width: 300px;
}

input#constraint{
  width: 900px;
}

</style>
