<template>
  <div class="category">
    <a href="#" v-on:mouseup="openclose">Settings</a>
    <fieldset>
      <select v-model="selectedCategory">
        <option v-for="(cat, i) in categories" :key="`cat${i}`" :value="i">{{
          cat.path
        }}</option>
      </select>
    </fieldset>
  </div>
</template>
<script>
export default {
  components: {},
  name: "category",
  props: ["paths", "total"],
  data() {
    return {
      selectedCategory: 0,
      categories: [],
    };
  },
  watch: {
    selectedCategory: function(selectedCategory) {
      this.$emit("categoryChanged");
    },
    paths: function(paths) {
      let cat = paths.filter((path) => {
        return path.min || path.max || (path.values && path.values.length > 1);
      });
      cat.sort((a, b) => {
        if (a.uniquevalues === b.uniquevalues) return a.uncovered - b.uncovered;
        return a.uniquevalues - b.uniquevalues;
      });
      this.categories = cat;
      this.$emit("categoryChanged");
    },
  },
  computed: {},
  methods: {
    openclose() {
      this.status = !this.status;
      return false;
    },
  },
};
</script>
<style scoped>
.category {
  position: absolute;
  right: 50%;
  z-index: 11;
}
</style>
