
<template>
  <g class='color'>
    <g :transform='`translate(${((width/2)+ pathswidth)},35)`'>
      <rect fill="#fff" opacity='0.8' :width='((width/2 - pathswidth)/2) -1' :height='height'></rect>
      <g
        :transform='`translate(10,${(14 * ind)+ (openpath >= 0 && openpath < ind? 120:0)})`'
        v-for='(path,ind) in paths'
        :key='`reduction${ind}`'
        v-on:mouseup='e=>colorClicked(e, ind)'
        class='reduction'
      >
        <g
          v-if='(path.summaryValues.summary && path.summaryValues.summary.length>1)'
        >
          <!--<rect
            :opacity='openpath===ind?0:1'
            height='10'
            width='30'
            fill='#fff'
            :y='-1'
            :x='-5'
          />-->
          <rect
            height='8'
            width='20'
            :fill='color===ind? "#952062":"#ccc"'
          />
        </g>
      </g>
    </g>
  </g>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  components: {  },
  name: 'Color',
  props: ['paths', 'height', 'pathswidth'],
  data() {
    return {
      selectedProjection: 0,
      projections: []
    }
  },
  watch: {
  },
  computed: {
    ...mapGetters(['width', 'openpath', 'color'])
  },
  methods: {
    ...mapActions(['selectColor']),
    colorClicked(e, ind) {
      this.selectColor(ind)
      e.stopPropagation()
      e.preventDefault()
    }
  }
}
</script>
<style scoped>

rect{
  cursor: pointer;
}
</style>
