<template>
  <div :class="`constraints`" :style="constraintsStyles">
    <div v-if="conditionslength === 0" class="help">
      No conditions selected yet. Use the pictograms
      <img src="/files/add.svg" alt="Add condition" title="Add condition" />
      <img
        src="/files/addinverse.svg"
        alt="Add inverse condition"
        title="Add inverse condition"
      />
      to add conditions, and then press the inspect button
      <img
        src="/files/inspect.svg"
        alt="Inspect subselection"
        title="Inspect subselection"
      />
      to inspect the new selection.
    </div>
    <div v-else>
      <h2>SELECT&nbsp; entities</h2>
      <div
        class="const"
        v-for="(condition, ind) in conditionslist"
        :key="`conditions${ind}`"
      >
        <div v-if="condition[0] !== 'lasso graphical selection'">
          <p>
            <span v-if="ind > 0">AND<br /><br /></span>
            <span
              v-if="condition[3]"
              class="change"
              v-on:mouseup="
                (e) =>
                  toggleCondition(
                    e,
                    condition[0],
                    condition[1],
                    condition[2],
                    false
                  )
              "
            >
              NOT HAVING
            </span>
            <span
              v-else
              class="change"
              v-on:mouseup="
                (e) =>
                  toggleCondition(
                    e,
                    condition[0],
                    condition[1],
                    condition[2],
                    true
                  )
              "
            >
              HAVING
            </span>
            <span v-if="condition[2] !== 'path'"
              >&nbsp;<strong>{{
                condition[1] === "values"
                  ? "the value"
                  : condition[1] === "datatypes"
                  ? condition[1] === "a value having as datatype"
                  : "a value having as language"
              }}</strong
              >&nbsp; <span class="values">"{{ condition[2] }}"</span> at the
              end of the path&nbsp;
            </span>
            <span v-else>&nbsp;the path&nbsp;</span>
            <span class="values">{{ condition[0] }}</span>
            <a
              class="delconst"
              v-on:mouseup="
                (e) =>
                  removeCondition({
                    path: condition[0],
                    type: condition[1],
                    value: condition[2],
                  })
              "
            >
              <img
                src="/files/delete.svg"
                alt="Remove constraint"
                title="Remove constraint"
              />
            </a>
          </p>
        </div>
        <div v-else>
          <p>
            and selected with the lasso
            <a class="delconst" v-on:mouseup="removeLassoFromConditions">
              <img
                src="/files/delete.svg"
                alt="Remove lasso selection"
                title="Remove lasso selection"
              />
            </a>
          </p>
        </div>
      </div>
      <p class="among" v-if="conditionslist[0]">
        <span
          v-if="conditionslist[0][4]"
          v-on:mouseup="(e) => toggleScope(false)"
        >
          &nbsp;<strong>among</strong>&nbsp;<span class="change"
            >the current selection</span
          >
        </span>
        <span v-else v-on:mouseup="(e) => toggleScope(true)">
          &nbsp;<strong>among</strong>&nbsp;<span class="change"
            >the whole set</span
          >
        </span>
      </p>

      <a
        :class="`inspect`"
        v-on:mouseup="
          (e) => {
            validateSelection();
          }
        "
      >
        <img
          src="/files/inspect.svg"
          alt="Inspect selection"
          title="Inspect selection"
        />
        <!--<Loader  v-if='loading_selection'/>-->
      </a>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  components: {},
  name: "constraints",
  props: ["width", "height", "pathswidth"],
  data() {
    return {
      conditionslist: [],
    };
  },
  mounted() {
    this.setConditionsList(this.conditions);
  },
  watch: {
    conditionslength() {
      this.setConditionsList(this.conditions);
    },
  },
  computed: {
    ...mapGetters(["conditions", "conditionslength", "loading_selection"]),
    constraintsStyles() {
      return {
        width: (this.width - this.pathswidth) / 2 + "px",
        left: this.width + 20 + (this.width - this.pathswidth) / 2 + "px",
        height: this.height - 40 + "px",
        top: 40 + "px",
      };
    },
  },
  methods: {
    ...mapActions([
      "changeCondition",
      "changeScope",
      "removeCondition",
      "removeLassoFromConditions",
      "validateSelection",
    ]),
    setConditionsList(newconditions) {
      this.conditionslist = Object.keys(newconditions).reduce((acc, cur) => {
        if (cur !== "lasso") {
          Object.keys(newconditions[cur]).forEach((type) => {
            Object.keys(newconditions[cur][type]).forEach((value) => {
              acc.push([
                cur,
                type,
                newconditions[cur][type][value][0],
                newconditions[cur][type][value][1],
                newconditions[cur][type][value][2],
              ]);
            });
          });
        } else {
          acc.push(["lasso graphical selection"]);
        }
        return acc;
      }, []);
    },
    toggleCondition(e, path, type, value, reverse) {
      //this.selectionAdded(e, path, index, type, value, !reverse)
      this.changeCondition({ path, type, value, reverse });
      this.setConditionsList(this.conditions);
    },
    toggleScope(scope) {
      this.changeScope(scope);
      this.setConditionsList(this.conditions);
    },
  },
};
</script>
<style scoped>
.constraints {
  position: absolute;
  z-index: 30;
  background: #fff;
  border-left: 1px solid #ccc;
  overflow-y: scroll;
}
.const {
  padding: 0 0 0 10px;
}

h2,
p {
  font-size: 0.7em;
  padding: 10px 0;
  margin: 0;
}
h2 {
  padding: 10px;
  border-bottom: 1px solid #333;
}
.among {
  padding: 10px;
  border-top: 1px solid #333;
}
.help {
  font-size: 0.7em;
  padding: 10px;
  margin: 0;
}
.help img {
  width: 10px;
  margin: 0 2px;
}
.delconst img {
  width: 20px;
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
}
label {
  font-size: 0.7em;
}
label a {
  color: #333;
}
span.change {
  text-decoration: underline;
  color: #952062;
  cursor: pointer;
  font-weight: bold;
}
span.values {
  font-style: italic;
  color: #952062;
}
.inspect {
  background: #952062;
  display: block;
  text-align: right;
  padding: 5px 10px;
  cursor: pointer;
}
.inspect:hover {
  background: #a92971;
}
.inspect img {
  width: 20px;
}
</style>
