<template>
  <div :class="`entities`" :style="entitiesStyles">
    <div v-if="selection.length === 0" class="help">
      No conditions selected yet. Use the pictograms
      <img src="/files/add.svg" alt="Add condition" title="Add condition" />
      <img
        src="/files/addinverse.svg"
        alt="Add inverse condition"
        title="Add inverse condition"
      />
      to add conditions, and then press the inspect button
      <img
        src="/files/inspect.svg"
        alt="Inspect subselection"
        title="Inspect subselection"
      />
      to inspect the new selection.
    </div>
    <div v-else>
      <div
        v-for="(entity, ind) in selection"
        :key="`selectentity${ind}`"
        v-on:mouseup="(e) => toggleEntity(entity)"
      >
        <input
          type="checkbox"
          :id="`selectentity${entity}`"
          :checked="selectedEntities.has(entity)"
          name="sel"
        />
        <label :for="`selectentity${entity}`"
          >{{ entitylabel(entity) }}
          <a :href="entity" target="_blank">{{
            `${prefixEntity(entity)}`
          }}</a></label
        >
      </div>
      <button v-on:mouseup="changeSelection">Update selection</button>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  components: {},
  name: "entities",
  props: ["width", "height", "pathswidth"],
  data() {
    return {
      selectedEntities: new Set(),
    };
  },
  mounted() {
    this.selectedEntities = new Set(this.$store.state.selection);
  },
  watch: {
    entities(newEntities) {
      this.selectedEntities = new Set(newEntities);
    },
  },
  computed: {
    ...mapGetters(["selection", "entitylabel"]),
    entitiesStyles() {
      return {
        width: (this.width - this.pathswidth) / 2 + "px",
        left: this.width + 20 + (this.width - this.pathswidth) / 2 + "px",
        height: this.height - 40 + "px",
        top: 40 + "px",
      };
    },
  },
  methods: {
    ...mapActions(["removeFromSelection"]),
    changeSelection(e) {
      let remove = this.selection.filter((e) => !this.selectedEntities.has(e));
      this.$store.dispatch("removeFromSelection", remove);
      e.stopPropagation();
      e.preventDefault();
    },
    toggleEntity(entity) {
      if (this.selectedEntities.has(entity)) {
        this.selectedEntities.delete(entity);
      } else {
        this.selectedEntities.add(entity);
      }
    },
    prefixEntity(entity) {
      for (let pref in this.$store.state.prefixes) {
        if (entity.indexOf(this.$store.state.prefixes[pref]) > -1) {
          entity = entity.replace(this.$store.state.prefixes[pref], pref + ":");
        }
      }
      return entity;
    },
  },
};
</script>
<style scoped>
.entities {
  position: absolute;
  z-index: 30;
  background: #fff;
  border-left: 1px solid #ccc;
  overflow-y: scroll;
}
.settingsfalse fieldset,
.settingsfalse input.submit {
  display: none;
}
.help {
  font-size: 0.7em;
  padding: 10px;
  margin: 0;
}
.help img {
  width: 10px;
  margin: 0 2px;
}
label {
  font-size: 0.7em;
}
label a {
  color: #333;
}
</style>
