
<template>
  <div
    class='header'
    :style='headerStyles'
  >
    <div
      class='wrap'
    > 
      <div
        class='midheader'
      > 
        <a class="nav navopenpaths" v-on:mouseup='nextPathState' >
          <img 
            :src='`/files/open_${pathsstate}.svg`'
            :alt='pathsstate === 1 ? "See all paths name" : "Close all paths name"' 
            :title='pathsstate === 1 ? "See all paths name" : "Close all paths name"' 
          />
        </a>
        <a class="nav navprojection" v-on:mouseup='toggleProjection' >
          <img 
            src='/files/projection.svg'
            alt='Set projection parameters' 
            title='Set projection parameters' 
          />
          <Loader v-if='loading_projection' />
        </a>
        <a class="nav" v-on:mouseup='toggleColor' >
          <img 
            src='/files/color.svg'
            alt='Set color parameters' 
            title='Set color parameters' 
          />
        </a>
        <a class="nav" v-on:mouseup='toggleSettings' >
          <img 
            src='/files/settings.svg'
            alt='Change general settings' 
            title='Change general settings' 
          />
          <Loader v-if='loading_settings' />
        </a>
        <span class="total"><strong>FULL SET.</strong><span>&nbsp;{{entities.length}}</span><span>&nbsp;ENTITIES</span></span>
        
      </div>
      <div
        class='midheader'
      > 
        <a :class="`nav navconditions ${conditionslength>0?'navconditionson':''}`" v-on:mouseup='toggleConditions' >
          <img 
            v-for="i in Array.from({length:conditionslength},(v,k)=>k+1)"
            :key='`pictocondition${i}`'
            src='/files/conditions.svg'
            alt='See conditions' 
            title='See conditions' 
          />
        </a>
        <a :class="`nav navinspect ${conditionslength>0?'navinspecton':''}`" v-on:mouseup='e=>{if(conditionslength>0){validateSelection()} else {toggleConditions()}}' >
          <img 
            src='/files/inspect.svg'
            alt='Inspect selection' 
            title='Inspect selection' 
          />
          <Loader v-if='loading_selection' />
        </a>
        <a class="nav navlist" v-on:mouseup='toggleEntities' >
          <img 
            src='/files/list.svg'
            alt='Display selected entities' 
            title='Display selected entities' 
          /> 
          <strong>SELECTION.</strong> <span>&nbsp;{{selection.length}} ENTITIES</span>
        </a>
        <a v-if='Object.keys(exportconditions).length>0' class="nav" v-on:mouseup='exportSelection' >
          <img 
            src='/files/export.svg'
            alt='Export selection' 
            title='Export selection' 
          />
          
        </a>
        <a class="nav" v-on:mouseup='clearSelection' >
          <img 
            src='/files/delete.svg'
            alt='Clear selection' 
            title='Clear selection' 
          />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import Loader from './Loader.vue'
export default {
  components: { Loader },
  name: 'HeaderItem',
  props: ['width'],
  data() {
    return {
     
    }
  },
  watch: {
    
  },
  computed: {
    ...mapGetters(['conditionslength', 'entities', 'entitylabel', 'exportconditions', 'label', 'loading_projection', 'loading_selection', 'loading_settings', 'pathsstate', 'selection']),
    headerStyles() {
      return {
        width: this.width + 'px',
        left:this.width + 'px',
      }
    }
  },
  methods: {
    ...mapActions(['exportSelection', 'validateSelection', 'clearSelection']),
    ...mapMutations(['nextPathState', 'toggleEntities', 'toggleColor','toggleConditions', 'toggleSettings', 'toggleProjection', 'toggleLabel']),

  }
};
</script>
<style scoped>
.header{
  position: absolute;
  z-index: 10;
  
}
.wrap{
  display: flex;
  background: #fff;
  margin-left: 17px;
}
.midheader{
  flex-grow:1;
  flex-basis:50%;
  display: flex;
}
.nav {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  flex-basis:35px;
  height: 35px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
.nav:hover {
  background: #ededed;
}
.navlabel, .navconditions{
  border-left: 1px solid #CCC;
}
.navlist{
  justify-content: start;
  flex-grow:1;
  padding-left: 8px;
  font-size: 0.7em;
}
.navlist strong, .navlist span, .navlist img{
  align-self: center;
}
.navlist strong{
  padding-left: 8px;
}
.total {
  flex-grow:1;
  font-size: 0.7em;
  align-self: center;
  height: 35px;
  border-bottom: 1px solid #CCC;
  padding-left: 8px;
  display: flex;
}

.navinspecton, .navconditionson{
  background: #952062;
}
.navinspecton:hover, .navconditionson:hover{
  background: #a92971;
}
.total span, .total strong {
  align-self: center;
}
.nav img {
  align-self: center;
  width:20px;
}
.navconditions {
  border-right:none;
  padding: 8px 5px 5px 5px;
  flex-basis: 25px;
  flex-wrap: wrap;
  height: 22px;
}
.navconditions img {
  width:10px;
  margin:0 2px 2px 0;
}
</style>
