
<template>
  <div class="circle-loader">
    <div class='bg'></div>
    <div class='pt'></div>
    <div class='pt'></div>
    <div class='pt'></div>
    <div class='pt'></div>
    <div class='pt'></div>
    <div class='pt'></div>
    <div class='pt'></div>
    <div class='pt'></div></div>
</template>

<script>
export default {
  components: {  },
  name: 'loader',
  props: [],
  data() {
    return {
      
    }
  },
  watch: {
  },
  computed: {
  },
  methods: {
  }
};
</script>
<style scoped>
      
.circle-loader {
  position: absolute;
  transform: scale(0.2);
  margin: -3.5px 0 0 3px;
  
}
.circle-loader div:nth-child(1) {
  height: 90px;
  width: 90px;
  margin: -40px 0 0 -40px;
  background:#000;
  border-radius:20px;
}
.circle-loader div:not(:nth-child(1)) {
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: 1.3s opaque ease-in-out infinite both;
    animation: 1.3s opaque ease-in-out infinite both;
}

.circle-loader > div:nth-child(2) {
    top: -25px;
    left: 0;
}

.circle-loader > div:nth-child(3) {
    top: -17px;
    left: 17px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.circle-loader > div:nth-child(4) {
    top: 0;
    left: 25px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.circle-loader > div:nth-child(5) {
    top: 17px;
    left: 17px;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.circle-loader > div:nth-child(6) {
    top: 25px;
    left: 0;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.circle-loader > div:nth-child(7) {
    top: 17px;
    left: -17px;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.circle-loader > div:nth-child(8) {
    top: 0;
    left: -25px;
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
}

.circle-loader > div:nth-child(9) {
    top: -17px;
    left: -17px;
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

@-webkit-keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
}

@keyframes opaque {
    0%, 40%, 100% {
      opacity: 0.1;
    }
    40% {
      opacity: 1;
    }
}


</style>
