<template>
  <g :transform="transformMap">
    <g
      v-for="(entity, index) in entities"
      :key="`entity${entity[0]}`"
      :transform="`translate(${entity[1]}, ${entity[2]})`"
    >
      <circle
        :r="4"
        :opacity="
          selection.length > 0
            ? selection.includes(entity[0])
              ? 0.7
              : 0.1
            : 0.7
        "
        :style="entityStyle(entity[5], entity[0])"
        v-on:mousedown="pointClicked"
      ></circle>
      <text
        :fill="entity[5] ? entity[5][0] : '#333'"
        :text-anchor="entity[1] > width / 2 ? 'end' : 'start'"
        >{{ entityLabel(entity, index) }}</text
      >
    </g>
    <g v-for="(zone, index) in zones" :key="`zone${index}`">
      <polyline
        stroke="#ffd015"
        :class="hoveredzone === index ? 'hovered' : ''"
        :points="getPolyline(zone.polygon)"
        v-on:mouseover="(e) => delayHoverMissing(index)"
        v-on:mouseout="hoverOut"
        hoverOut
      />
    </g>
  </g>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  components: {},
  name: "mapbig",
  props: ["entities", "width", "bounds"],
  data() {
    return {
      displayedLabels: [],
      hovered: undefined,
    };
  },
  watch: {
    entities: function(newEntities) {
      this.displayedLabels = [];
      newEntities.forEach((entity, index) => {
        if (entity[4] >= this.popularitythreshold) {
          this.displayedLabels.push(index);
        }
      });
      while (this.displayedLabels.length > 20) {
        this.displayedLabels.splice(
          Math.floor(Math.random() * this.displayedLabels.length),
          1
        );
      }
    },
  },
  computed: {
    ...mapGetters([
      "hoveredzone",
      "lasso",
      "selection",
      "popularitythreshold",
      "zones",
      "zoom",
      "transformMap",
    ]),
    /*,
    transformMap() {
      let scale = 100 / this.zoom[2]
      return `translate(${-1 * this.width / 100 * this.zoom[0] * scale}, ${-1 * this.width / 100 * this.zoom[1] * scale}) scale(${scale})`
    }*/
  },
  methods: {
    ...mapActions(["hoverMissing"]),
    ...mapMutations(["setHoveredZone"]),
    entityStyle(steps, uri) {
      if (this.selection.length > 0) {
        return this.selection.includes(uri)
          ? { fill: "#952062" }
          : { fill: "#333" };
      } else if (steps && steps.length > 1) {
        return {
          fill: "url(#gradient1)",
        };
      } else if (steps && steps.length === 1) {
        return {
          fill: steps[0],
        };
      } else {
        return {
          fill: "#333",
        };
      }
    },
    delayHoverMissing(index) {
      if (this.lasso.length === 0) {
        this.setHoveredZone(index);
        this.hoverMissing(index);
      }
    },
    hoverOut(index) {
      clearTimeout(this.delay);
      this.delay = setTimeout(() => {
        if (this.hoveredzone === index) {
          this.setHoveredZone(undefined);
          this.hoverMissing(null);
        }
      }, 1000);
    },
    entityLabel(entity, index) {
      if (this.displayedLabels.includes(index)) {
        return entity[3].length > 30
          ? entity[3].substr(0, 30) + "..."
          : entity[3];
      } else {
        return "";
      }
    },
    getPolyline(points) {
      return points.reduce((acc, cur) => {
        acc.push(cur[0]);
        acc.push(cur[1]);
        return acc;
      }, []);
    },
    pointClicked(e) {
      e.stopPropagation();
      e.preventDefault();
    },
    getSelectedPoints(selection) {
      return this.entities
        .filter((entity) => {
          return this.inside([entity[1], entity[2]], selection);
        })
        .map((entity) => entity[0]);
    },
    inside(point, polygon) {
      // ray-casting algorithm based on
      // http://www.ecse.rpi.edu/Homepages/wrf/Research/Short_Notes/pnpoly.html
      let x = point[0],
        y = point[1];
      let inside = false;
      for (let i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {
        let xi = polygon[i][0],
          yi = polygon[i][1];
        let xj = polygon[j][0],
          yj = polygon[j][1];
        let intersect =
          yi > y != yj > y && x < ((xj - xi) * (y - yi)) / (yj - yi) + xi;
        if (intersect) inside = !inside;
      }
      return inside;
    },
  },
};
</script>
<style scoped>
.selectionCompleted polyline {
  cursor: pointer;
}
text {
  font-size: 0.75em;
  font-weight: bold;
}
polyline {
  cursor: pointer;
  fill-opacity: 0;
  stroke-opacity: 0;
  transition: all 0.5s ease-in;
  fill: #ffd015;
}
polyline.hovered {
  fill-opacity: 0.1;
  stroke-opacity: 1;
}
</style>
