<template>
  <div ref="container" class="wrapcanvas" id="wrapcanvas" :style="canvasStyles">
    <canvas ref="canvas" id="canvas" :width="side" :height="side"></canvas>
    <VueDraggableResizable
      :w="sideinside"
      :h="sideinside"
      :x="x"
      :y="y"
      :minw="side / 2"
      :minh="side / 2"
      @dragging="onDrag"
      @resizing="onResize"
      :onDragStart="onDragStart"
      :onResizeStart="onDragStart"
      :parent="true"
      :handles="['tl', 'bl', 'tr', 'br']"
      :lock-aspect-ratio="true"
    ></VueDraggableResizable>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import VueDraggableResizable from "vue-draggable-resizable";
import "vue-draggable-resizable/dist/VueDraggableResizable.css";
//import * as d3 from 'd3'
export default {
  components: { VueDraggableResizable },
  name: "mapsmall",
  props: ["width"],
  data() {
    return {
      factor: 10,
      side: 100,
      sideinside: 100,
      throttlecount: 0,
      throttle: 10,
      x: 0,
      y: 0,
    };
  },
  mounted() {
    this.ctx = document.getElementById("canvas").getContext("2d");
    // start with a blank slate
    this.ctx.scale(1 / this.factor, 1 / this.factor);
    this.drawPoints();
  },
  computed: {
    ...mapGetters(["entities", "zoom"]),
    canvasStyles() {
      return {
        width: this.side + "px",
        height: this.side + "px",
      };
    },
  },
  watch: {
    entities: function() {
      this.drawPoints();
    },
    zoom: function(newZoom) {
      this.x = newZoom[0];
      this.y = newZoom[1];
      this.sideinside = newZoom[2];
    },
  },
  methods: {
    ...mapMutations(["setZoom"]),
    drawPoints() {
      // get context for drawing
      this.ctx.clearRect(0, 0, this.width, this.width);
      this.ctx.rect(0, 0, this.width, this.width);
      this.ctx.fillStyle = "white";
      this.ctx.fill();
      this.entities.forEach((entity) => {
        this.ctx.beginPath();
        this.ctx.arc(entity[1], entity[2], 4, 0, 2 * Math.PI, false);
        this.ctx.fillStyle = entity[5] ? entity[5][0] : "black";
        this.ctx.fill();
      });
    },
    onResize: function(x, y, width) {
      this.throttlecount++;
      if (this.throttlecount > this.throttle) {
        this.setZoom([x, y, width]);
        this.throttlecount = 0;
      }
    },
    onDrag: function(x, y) {
      this.throttlecount++;
      if (this.throttlecount > this.throttle) {
        this.setZoom([x, y]);
        this.throttlecount = 0;
      }
    },
    onDragStart: function() {
      this.throttlecount = 0;
    },
  },
};
</script>
<style>
.wrapcanvas {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 1px solid #000;
}
canvas {
  position: absolute;
}
.handle {
  border-radius: 5px;
}
.handle-tr {
  top: -5px;
  right: -5px;
}
.handle-br {
  bottom: -5px;
  right: -5px;
}
.handle-bl {
  bottom: -5px;
  left: -5px;
}
.handle-tl {
  top: -5px;
  left: -5px;
}
.vdr {
  border-color: #666;
}
</style>
