<template>
  <g class="set" :transform="`translate(0,${y})`">
    <rect
      class="off"
      :width="width"
      :height="13"
      fill="#fff"
      v-on:mousedown="(e) => pathClicked(e, path.path, index, false)"
      v-on:mouseover="(e) => setHoveredPath(index, path.path)"
      ><title>{{ open ? "Close" : "Open" }}</title></rect
    >
    <rect
      :width="(width * path.percentValues) / 100"
      :x="(width * (100 - path.percentValues)) / 100"
      :height="open ? 10 : 10"
      :fill="
        conditions[path.path] &&
        conditions[path.path]['path'] &&
        conditions[path.path]['path']['path'] &&
        !conditions[path.path]['path']['path'][2] &&
        open
          ? '#952062'
          : (hoveredpath === index && !open) || open
          ? '#000'
          : '#ccc'
      "
      :class="open ? 'on pathclickable' : 'on'"
      v-on:mousedown="(e) => pathClicked(e, path.path, index, true)"
      v-on:mouseover="(e) => setHoveredPath(index, path.path)"
      ><title>
        {{ open ? "Add entities described by this path to selection" : "Open" }}
      </title></rect
    >
    <line
      :stroke="conditions[path.path] ? '#952062' : '#000'"
      :stroke-width="conditions[path.path] ? 1 : 1"
      x1="0"
      y1="0.5"
      y2="0.5"
      :x2="width"
      v-if="open || conditions[path.path] || hoveredpath === index"
    />
    <rect :width="width" y="12" x="0" height="112" fill="#fafafa" v-if="open" />
    <g v-if="open" :transform="`translate(0, -10)`">
      {{ (counter = 0) }}

      <text
        y="30"
        :x="(width * (100 - path.percentValues)) / 100"
        :text-anchor="path.percentValues < 10 ? 'end' : 'start'"
        >{{ path.percentValues }}%</text
      >
      <rect width="54" :y="38" :x="width - 27" height="14" fill="#fff" />
      <text :x="width" y="49" text-anchor="middle" class="title">VALUES</text>
      <text :x="width - 35" text-anchor="end" y="49">{{
        valueshovered
          ? valueshovered
          : valuesselected
          ? valuesselected
          : `${path.uniqueValues} unique, ${path.totalValues} total`
      }}</text>
      <g
        v-for="(value, ind) in path.summaryValues.summary"
        :key="`bgopenpathvalue${ind}`"
        :transform="
          `translate(${width -
            (counter + (width / path.totalValues) * value.count)},53)`
        "
      >
        <rect
          :width="(width / path.totalValues) * value.count - 1"
          height="10"
          :title="value.value"
          :fill="
            conditions[path.path] &&
            conditions[path.path]['values'] &&
            conditions[path.path]['values'][value.value] &&
            !conditions[path.path]['values'][value.value][2]
              ? '#952062'
              : index === color
              ? colorfunction(value.value)
              : value.value === 'other'
              ? 'url(#PatternBg)'
              : '#c194ae'
          "
          v-on:mouseover="
            (e) => showTitle('values', value.value + ' (' + value.count + ')')
          "
          v-on:mouseout="(e) => showTitle('values', undefined)"
          v-on:mousedown="
            (e) =>
              selectionToggled(
                e,
                path.path,
                index,
                'values',
                value.value,
                false
              )
          "
          >{{ (counter += (width / path.totalValues) * value.count) }}
          <title>
            {{
              conditions[path.path] &&
              conditions[path.path]["values"] &&
              conditions[path.path]["values"][value.value] &&
              !conditions[path.path]["values"][value.value][2]
                ? `Remove from selection entities with VALUE "${value.value}" (${value.count})`
                : `Add to selection entities with VALUE "${value.value}" (${value.count})`
            }}
          </title>
        </rect>
      </g>
      {{ (counter = 0) }}
      <rect width="72" :y="65" :x="width - 36" height="14" fill="#fff" />
      <text :x="width" y="76" text-anchor="middle" class="title"
        >DATATYPES</text
      >
      <g v-if="path.percentDatatypes > 0" transform="translate(0, 20)">
        <text :x="width - 44" text-anchor="end" y="56">{{
          datatypeshovered
            ? datatypeshovered
            : datatypesselected
            ? datatypesselected
            : `${path.uniqueDatatypes} unique, ${path.totalDatatypes} total`
        }}</text>
        <g
          v-for="(value, ind) in path.summaryDatatypes.summary"
          :key="`bgopenpathdatatype${ind}`"
          :transform="
            `translate(${width -
              (counter + (width / path.totalValues) * value.count)},60)`
          "
        >
          <rect
            :width="(width / path.totalValues) * value.count - 1"
            :title="value.value"
            height="10"
            :fill="
              conditions[path.path] &&
              conditions[path.path]['datatypes'] &&
              conditions[path.path]['datatypes'][value.value] &&
              !conditions[path.path]['datatypes'][value.value][2]
                ? '#952062'
                : '#c194ae'
            "
            v-on:mouseover="
              (e) =>
                showTitle('datatypes', value.value + ' (' + value.count + ')')
            "
            v-on:mouseout="(e) => showTitle('datatypes', undefined)"
            v-on:mousedown="
              (e) =>
                selectionToggled(
                  e,
                  path.path,
                  index,
                  'datatypes',
                  value.value,
                  false
                )
            "
            >{{ (counter += (width / path.totalValues) * value.count) }}
            <title>
              {{
                conditions[path.path] &&
                conditions[path.path]["datatypes"] &&
                conditions[path.path]["datatypes"][value.value] &&
                !conditions[path.path]["datatypes"][value.value][2]
                  ? `Remove from selection entities with DATATYPE "${value.value}" (${value.count})`
                  : `Add to selection entities with DATATYPE "${value.value}" (${value.count})`
              }}
            </title>
          </rect>
        </g>
      </g>
      {{ (counter = 0) }}
      <rect width="80" :y="92" :x="width - 40" height="14" fill="#fff" />
      <text :x="width" y="103" text-anchor="middle" class="title"
        >LANGUAGES</text
      >
      <g v-if="path.percentLanguages > 0" transform="translate(0, 20)">
        <text
          :x="width - 48"
          text-anchor="end"
          y="83"
          v-if="path.summaryLanguages.summary.length > 0"
          >{{
            languageshovered
              ? languageshovered
              : languagesselected
              ? languagesselected
              : `${path.uniqueLanguages} unique, ${path.totalLanguages} total`
          }}</text
        >
        <g
          v-for="(value, ind) in path.summaryLanguages.summary"
          :key="`bgopenpathlang${ind}`"
          :transform="
            `translate(${width -
              (counter + (width / path.totalValues) * value.count)},87)`
          "
        >
          <rect
            :width="(width / path.totalValues) * value.count - 1"
            height="10"
            :title="value.value"
            :fill="
              conditions[path.path] &&
              conditions[path.path]['languages'] &&
              conditions[path.path]['languages'][value.value] &&
              !conditions[path.path]['languages'][value.value][2]
                ? '#952062'
                : '#c194ae'
            "
            v-on:mouseover="
              (e) =>
                showTitle('languages', value.value + ' (' + value.count + ')')
            "
            v-on:mouseout="(e) => showTitle('languages', undefined)"
            v-on:mousedown="
              (e) =>
                selectionToggled(
                  e,
                  path.path,
                  index,
                  'languages',
                  value.value,
                  false
                )
            "
            >{{ (counter += (width / path.totalValues) * value.count) }}
            <title>
              {{
                conditions[path.path] &&
                conditions[path.path]["languages"] &&
                conditions[path.path]["languages"][value.value] &&
                !conditions[path.path]["languages"][value.value][2]
                  ? `Remove from selection entities with LANGUAGE "${value.value}" (${value.count})`
                  : `Add to selection entities with LANGUAGE "${value.value}" (${value.count})`
              }}
            </title>
          </rect>
        </g>
      </g>
    </g>
  </g>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  name: "PathItem",
  props: ["width", "y", "index", "open", "path"],
  data() {
    return {
      hovered: false,
      selected: false,
      valueshovered: undefined,
      datatypeshovered: undefined,
      languageshovered: undefined,
      valuesselected: undefined,
      datatypesselected: undefined,
      languagesselected: undefined,
    };
  },
  mounted() {},
  computed: {
    ...mapGetters([
      "color",
      "colorfunction",
      "conditions",
      "hoveredpath",
      "pathsstate",
    ]),
    summaryDatatypes() {
      let counter = 0;
      return this.path.summaryDatatypes.summary
        ? this.path.summaryDatatypes.summary.map((value) => {
            counter += (this.width / this.path.totalValues) * value.count;
            return {
              ...value,
              counter,
            };
          })
        : [];
    },
  },
  methods: {
    ...mapActions(["addCondition", "removeCondition", "dereferenceURI"]),
    ...mapMutations(["setOpenPath", "setHoveredPath"]),
    pathClicked(e, path, index, condition) {
      if (condition && this.open) {
        this.selectionToggled(e, path, index, "path", "path", false);
      } else {
        this.setOpenPath(this.open ? undefined : index);
        this.$emit("PathClicked");
      }
      this.$forceUpdate();
    },
    selectionToggled(e, path, index, type, value) {
      if (this.conditions[path] && this.conditions[path][type]) {
        if (
          this.conditions[path][type][value] &&
          !this.conditions[path][type][value][2]
        ) {
          this.selectionRemoved(e, path, index, type, value, false);
        } else {
          this.selectionAdded(e, path, index, type, value, false);
        }
      } else {
        this.selectionAdded(e, path, index, type, value, false);
      }
    },
    selectionClicked(e, path, index, type, value) {
      if (
        this[type + "selected"] === value ||
        (Array.isArray(value) && this[type + "selected"] === value[0])
      ) {
        this[type + "selected"] = undefined;
      } else {
        this[type + "selected"] = value;
      }
      this.$forceUpdate();
    },
    selectionHovered(on) {
      this.setHoveredPath(on ? this.index : undefined);
    },
    selectionAdded(e, path, index, type, value, inverse) {
      if (type === "path") {
        this.selected = false;
      } else {
        this[type + "selected"] = undefined;
      }
      this.addCondition({ path, type, value, inverse, subset: false, index });
      this.$forceUpdate();
      //send to conditions
    },
    selectionRemoved(e, path, index, type, value) {
      if (type === "path") {
        this.selected = true;
      }
      this.removeCondition({ path, type, value });
      this.$forceUpdate();
      //send to conditions
    },
    showTitle(type, element) {
      this[type + "hovered"] = element;
      if (element) this.valueOver(element);
    },
    normalisePoint(point, min, max) {
      let range =
        (max > 0 && min > 0) || (max < 0 && min < 0)
          ? Math.abs(max) - Math.abs(min)
          : Math.abs(max) + Math.abs(min);
      point = min > 0 ? point - min : point + min;
      return (point * (this.width - 20)) / range;
    },
    valueOver(path) {
      if (path.match(/^http/)) {
        path = path.split(" ")[0];
        if (this.activeURI !== path) {
          clearTimeout(this.delay);
          this.delay = setTimeout(() => {
            this.dereferenceURI(path);
          }, 1000);
        }
      }
    },
  },
};
</script>
<style scoped>
text {
  font-size: 0.7em;
}
text.title {
  font-weight: bold;
}
.bgcontrols span {
  position: relative;
  top: 1px;
}

.wrapbutton {
  width: 17px;
  display: inline-block;
}
.button {
  cursor: pointer;
  width: 15px;
}
.buttonhovered {
  opacity: 0.5;
}
rect {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
rect.pathclickable:hover {
  fill: #952062;
}
</style>
