
<template>
  <g
    class='path'
    :transform='`translate(0, ${(6 * indexpath)})`'
    v-if='path && path.percentValues'
  >
    <rect
      v-for='(nv, nvi) in Object.keys(path.pathsNumber)'
      :key='`set${indexset}path${indexpath}nv${nvi}`'
      class='numberOfValues'
      :width='width * path.percentValues/100'
      :x='width * (100-path.percentValues)/100'
      height='2'
      fill='#f00'
    />
   
  </g>
</template>

<script>

export default {
  components: {  },
  name: 'pathsvg',
  props: ['width', 'height', 'indexset', 'indexpath', 'path'],
  data() {
    return {
    }
  },
  watch: {
  },
  computed: {
    
  },
  methods: {
    
  }
};
</script>
<style scoped>
rect {
  
}
g.set:hover rect {

}

</style>
