<template>
  <g
    :transform="
      `translate(0, ${(pathsstate === 2 ? 14 : 14) * indexpath +
        (openpath < indexpath ? 112 : 0)})`
    "
    class="pathpattern"
    v-on:mouseup="(e) => pathClicked(e, indexpath)"
  >
    <rect
      :height="
        open
          ? pathsstate === 2
            ? 124
            : 122
          : pathsstate === 2 ||
            hoveredpath === indexpath ||
            hoveredmissing.includes(path.path)
          ? 12
          : 10
      "
      :width="17"
      :fill="
        hoveredmissing.length > 0
          ? hoveredmissing.includes(path.path)
            ? '#ffd015'
            : '#000'
          : totalValues === 0
          ? '#ffd015'
          : isExplanation
          ? '#952062'
          : '#000'
      "
      class="handler"
      v-on:mouseover="(e) => pathOver(indexpath, path)"
    />
    <rect
      :class="
        open ||
        pathsstate === 2 ||
        hoveredpath === indexpath ||
        hoveredmissing.includes(path.path)
          ? 'bg visible'
          : 'bg'
      "
      height="12"
      :width="30 + pathName(path).length * 5"
      :fill="
        totalValues === 0
          ? '#ffd015'
          : hoveredmissing.includes(path.path)
          ? '#ffd015'
          : isExplanation
          ? '#952062'
          : '#000'
      "
      :x="-30 + -1 * (pathName(path).length * 5)"
      v-on:mouseover="(e) => pathOver(indexpath, path)"
    />
    <text
      :class="
        open ||
        pathsstate === 2 ||
        hoveredpath === indexpath ||
        hoveredmissing.includes(path.path)
          ? 'visible'
          : ''
      "
      :x="-5"
      y="9"
      :stroke="
        totalValues === 0 || hoveredmissing.includes(path.path)
          ? '#333'
          : '#fff'
      "
      text-anchor="end"
      v-on:mouseover="(e) => pathOver(indexpath, path)"
    >
      {{ pathName(path) }}
    </text>
  </g>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  components: {},
  name: "pathsvg",
  props: [
    "width",
    "height",
    "indexpath",
    "path",
    "open",
    "pathsubset",
    "totalValues",
  ],
  data() {
    return {
      delay: null,
      isExplanation: false,
    };
  },
  mounted() {
    this.checkExplanation();
  },
  watch: {
    pathsubset() {
      this.checkExplanation();
    },
  },
  computed: {
    ...mapGetters([
      "activeURI",
      "hoveredmissing",
      "hoveredpath",
      "label",
      "openpath",
      "pathsstate",
      "projectionvisible",
      "URIDetail",
    ]),
  },
  methods: {
    ...mapActions(["dereferenceURI"]),
    ...mapMutations([
      "addOpenPath",
      "removeOpenPath",
      "setOpenPath",
      "setHoveredPath",
    ]),
    pathName(path) {
      return (
        (path.prefixed ? path.prefixed : path.path) +
        (path.label && path.label !== ""
          ? " -- " + path.label
          : this.URIDetail[path.path] &&
            this.URIDetail[path.path].labels &&
            this.URIDetail[path.path].labels.length > 0
          ? " -- " + this.URIDetail[path.path].labels[0]
          : "")
      );
    },
    pathClicked(e, index) {
      this.setOpenPath(index === this.openpath ? undefined : index);
      e.preventDefault();
      e.stopPropagation();
      this.$emit("PathClicked");
    },
    pathOver(index, path) {
      if (this.activeURI !== path.path) {
        this.setHoveredPath(index);
        this.dereferenceURI(path.path);
        setTimeout(() => {
          this.$forceUpdate();
        }, 2000);
      }
    },
    pathOut() {
      this.setHoveredPath(undefined);
    },
    checkExplanation() {
      if (this.pathsubset) {
        //If the KS statistic is small or the p-value is high, then we cannot reject the hypothesis that the distributions of the two samples are the same.
        if (
          this.pathsubset.ks2.values &&
          this.pathsubset.ks2.values.valueschanged
        ) {
          this.isExplanation = true;
        } else if (
          this.pathsubset.ks2.values &&
          this.pathsubset.ks2.values.p < 0.1
        ) {
          this.isExplanation = true;
        } else if (
          this.pathsubset.ks2.languages &&
          this.pathsubset.ks2.languages.valueschanged
        ) {
          this.isExplanation = true;
        } else if (
          this.pathsubset.ks2.languages &&
          this.pathsubset.ks2.languages.p < 0.1
        ) {
          this.isExplanation = true;
        } else if (
          this.pathsubset.ks2.datatypes &&
          this.pathsubset.ks2.datatypes.valueschanged
        ) {
          this.isExplanation = true;
        } else if (
          this.pathsubset.ks2.datatypes &&
          this.pathsubset.ks2.datatypes.p < 0.1
        ) {
          this.isExplanation = true;
        }
      }
    },
  },
};
</script>
<style scoped>
g.pathpattern rect.handler {
  cursor: pointer;
  transition: fill 0.5s ease-in;
}
g.pathpattern text.visible {
  display: block;
}
g.pathpattern text {
  display: none;
  fill: #333;
  font-size: 0.7em;
  cursor: pointer;
}
g.pathpattern rect.bg {
  display: none;
}
g.pathpattern rect.visible {
  display: block;
}
</style>
