<template>
  <g class="set" :transform="`translate(0,${y})`">
    <rect
      class="off"
      :width="width"
      height="13"
      fill="#fff"
      v-on:mousedown="(e) => pathClicked(e, path.path, index, 'path', false)"
    />
    <rect
      :width="(width * path.percentValues) / 100"
      :height="open ? 10 : 10"
      :fill="
        conditions[path.path] &&
        conditions[path.path]['path'] &&
        conditions[path.path]['path']['path'][2] &&
        open
          ? '#952062'
          : (hoveredpath === index && !open) || open
          ? '#000'
          : '#aaa'
      "
      class="on"
      v-on:mousedown="(e) => pathClicked(e, path.path, index, 'path', true)"
    />

    <line
      :stroke="conditions[path.path] ? '#952062' : '#000'"
      :stroke-width="conditions[path.path] ? 1 : 1"
      x1="0"
      y1="0.5"
      y2="0.5"
      :x2="width"
      v-if="open || conditions[path.path]"
    />
    <rect
      :width="width"
      y="12"
      x="0"
      height="112"
      :fill="path.totalValues === 0 ? '#ffd015' : '#eeeeee'"
      v-if="open"
    />
    <g v-if="open" :transform="`translate(0, -10)`">
      {{ (counter = 0) }}

      <text
        y="30"
        :x="(width * path.percentValues) / 100"
        :text-anchor="path.percentValues < 10 ? 'start' : 'end'"
        >{{ path.percentValues }}%</text
      >

      <text :x="35" text-anchor="start" y="49">{{
        valueshovered
          ? valueshovered
          : valuesselected
          ? valuesselected
          : `${path.uniqueValues} unique, ${path.totalValues} total`
      }}</text>
      <g
        v-for="(value, ind) in path.summaryValues.summary"
        :key="`bgopenpathvalue${ind}`"
        :transform="`translate(${counter},53)`"
      >
        <rect
          :width="(width / path.totalValues) * value.count - 1"
          height="10"
          :title="value.value"
          :fill="
            conditions[path.path] &&
            conditions[path.path]['values'] &&
            conditions[path.path]['values'][value.value] &&
            conditions[path.path]['values'][value.value][2]
              ? '#952062'
              : index === color
              ? colorfunction(value.value)
              : value.value === 'other'
              ? 'url(#PatternBg)'
              : '#c194ae'
          "
          v-on:mouseover="
            (e) => showTitle('values', value.value + ' (' + value.count + ')')
          "
          v-on:mouseout="(e) => showTitle('values', undefined)"
          v-on:mousedown="
            (e) =>
              selectionToggled(e, path.path, index, 'values', value.value, true)
          "
          >{{ (counter += (width / path.totalValues) * value.count) }}</rect
        >
      </g>
      {{ (counter = 0) }}
      <g v-if="path.percentDatatypes > 0" transform="translate(0, 20)">
        <text :x="44" text-anchor="start" y="56">{{
          datatypeshovered
            ? datatypeshovered
            : datatypesselected
            ? datatypesselected
            : `${path.uniqueDatatypes} unique, ${path.totalDatatypes} total`
        }}</text>
        <g
          v-for="(value, ind) in path.summaryDatatypes.summary"
          :key="`bgopenpathdatatype${ind}`"
          :transform="`translate(${counter},60)`"
        >
          <rect
            :width="(width / path.totalValues) * value.count - 1"
            :title="value.value"
            height="10"
            :fill="
              conditions[path.path] &&
              conditions[path.path]['datatypes'] &&
              conditions[path.path]['datatypes'][value.value] &&
              conditions[path.path]['datatypes'][value.value][2]
                ? '#952062'
                : '#c194ae'
            "
            v-on:mouseover="
              (e) =>
                showTitle('datatypes', value.value + ' (' + value.count + ')')
            "
            v-on:mouseout="(e) => showTitle('datatypes', undefined)"
            v-on:mousedown="
              (e) =>
                selectionToggled(
                  e,
                  path.path,
                  index,
                  'datatypes',
                  value.value,
                  true
                )
            "
            >{{ (counter += (width / path.totalValues) * value.count) }}</rect
          >
        </g>
      </g>
      {{ (counter = 0) }}
      <g v-if="path.percentLanguages > 0" transform="translate(0, 20)">
        <text
          :x="48"
          text-anchor="start"
          y="83"
          v-if="path.summaryLanguages.summary.length > 0"
          >{{
            languageshovered
              ? languageshovered
              : languagesselected
              ? languagesselected
              : `${path.uniqueLanguages} unique, ${path.totalLanguages} total`
          }}</text
        >
        <g
          v-for="(value, ind) in path.summaryLanguages.summary"
          :key="`bgopenpathlang${ind}`"
          :transform="`translate(${counter},87)`"
        >
          <rect
            :width="(width / path.totalValues) * value.count - 1"
            height="10"
            :title="value.value"
            :fill="
              conditions[path.path] &&
              conditions[path.path]['languages'] &&
              conditions[path.path]['languages'][value.value] &&
              conditions[path.path]['languages'][value.value][2]
                ? '#952062'
                : '#c194ae'
            "
            v-on:mouseover="
              (e) =>
                showTitle('languages', value.value + ' (' + value.count + ')')
            "
            v-on:mouseout="(e) => showTitle('languages', undefined)"
            v-on:mousedown="
              (e) =>
                selectionToggled(
                  e,
                  path.path,
                  index,
                  'languages',
                  value.value,
                  true
                )
            "
            >{{ (counter += (width / path.totalValues) * value.count) }}</rect
          >
        </g>
      </g>
    </g>
  </g>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  name: "PathItemSelection",
  props: ["width", "y", "index", "open", "path"],
  data() {
    return {
      hovered: false,
      selected: false,
      valueshovered: undefined,
      datatypeshovered: undefined,
      languageshovered: undefined,
      valuesselected: undefined,
      datatypesselected: undefined,
      languagesselected: undefined,
    };
  },
  mounted() {},
  computed: {
    ...mapGetters([
      "color",
      "colorfunction",
      "conditions",
      "hoveredpath",
      "pathsstate",
    ]),
  },
  methods: {
    ...mapActions(["addCondition", "removeCondition", "dereferenceURI"]),
    ...mapMutations(["setOpenPath", "setHoveredPath"]),
    pathClicked(e, path, index, condition) {
      if (condition && this.open) {
        this.selectionToggled(e, path, index, "path", "path", false);
      } else {
        this.setOpenPath(this.open ? undefined : index);
        this.$emit("PathClicked");
      }
      this.$forceUpdate();
    },
    selectionClicked(e, path, index, type, value) {
      if (type === "path") {
        this.setOpenPath(this.open ? undefined : index);
        this.$emit("PathClicked");
      } else {
        if (
          this[type + "selected"] === value ||
          (Array.isArray(value) && this[type + "selected"] === value[0])
        ) {
          this[type + "selected"] = undefined;
        } else {
          this[type + "selected"] = value;
        }
      }
      this.$forceUpdate();
    },
    selectionToggled(e, path, index, type, value) {
      if (this.conditions[path] && this.conditions[path][type]) {
        if (
          this.conditions[path][type][value] &&
          this.conditions[path][type][value][2]
        ) {
          this.selectionRemoved(e, path, index, type, value, false);
        } else {
          this.selectionAdded(e, path, index, type, value, false);
        }
      } else {
        this.selectionAdded(e, path, index, type, value, false);
      }
      this.$forceUpdate();
    },
    selectionHovered(on) {
      this.setHoveredPath(on ? this.index : undefined);
    },
    selectionAdded(e, path, index, type, value, inverse) {
      if (type === "path") {
        this.selected = false;
      } else {
        this[type + "selected"] = undefined;
      }
      this.addCondition({ path, type, value, inverse, subset: true, index });
      this.$forceUpdate();
      //send to conditions
    },
    selectionRemoved(e, path, index, type, value) {
      if (type === "path") {
        this.selected = true;
      }
      this.removeCondition({ path, type, value });
      this.$forceUpdate();
      //send to conditions
    },
    showTitle(type, element) {
      this[type + "hovered"] = element;
      if (element) this.valueOver(element);
    },
    normalisePoint(point, min, max) {
      let range =
        (max > 0 && min > 0) || (max < 0 && min < 0)
          ? Math.abs(max) - Math.abs(min)
          : Math.abs(max) + Math.abs(min);
      point = min > 0 ? point - min : point + min;
      return (point * (this.width - 20)) / range;
    },
    valueOver(path) {
      if (path.match(/^http/)) {
        path = path.split(" ")[0];
        if (this.activeURI !== path) {
          clearTimeout(this.delay);
          this.delay = setTimeout(() => {
            this.dereferenceURI(path);
          }, 1000);
        }
      }
    },
  },
};
</script>
<style scoped>
text {
  font-size: 0.7em;
}
text.title {
  font-weight: bold;
}
.bgcontrols span {
  background: #fff;
  position: relative;
  top: 1px;
}
.wrapbutton {
  width: 17px;
  display: inline-block;
}
.button {
  cursor: pointer;
  width: 15px;
}
.buttonhovered {
  opacity: 0.5;
}
rect {
  cursor: pointer;
}
</style>
