
<template>
  <div class='analysis'>
    <div v-if='savedidentifier === ""'>
        <fieldset >
        <label for='identifier'>Participant id</label>
        <input 
            type='text'
            v-model='identifier'
            id='identifier'
        />
        </fieldset>
        <fieldset>
        <button type="submit" v-on:mouseup='saveId'>SaveId</button>
        </fieldset>
    </div>
    <div v-else>
        {{identifier}}
    </div>
  </div>
</template>
<script>

export default {
  components: {  },
  name: 'pid',
  props: [],
  data() {
    return {
      identifier: '',
      savedidentifier: '',
    }
  },
  mounted() {
    this.savedidentifier = localStorage.getItem('missingIdentifier') || ''
    this.identifier = this.savedidentifier
  },
  methods: {
    saveId() {
      localStorage.setItem('missingIdentifier', this.identifier)
      this.savedidentifier =  this.identifier
    }
  }
}
</script>
<style scoped>
input{
  width: 300px;
}

</style>
