<template>
  <g class="projection">
    <g :transform="`translate(${width / 2 + pathswidth},35)`">
      <rect
        fill="#fff"
        opacity="0.8"
        :width="(width / 2 - pathswidth) / 2 - 1"
        :height="height"
      ></rect>
      <foreignObject
        x="40"
        y="40"
        :width="(width / 2 - pathswidth) / 2 - 40"
        height="80"
      >
        <p style="font-size:0.7em;padding:0;margin:0">
          Computing a new map might take 15 to 30 seconds, depending on the
          number of entities in the set and the number of paths you selected.
        </p>
        <input type="text" v-model="minsamples" id="minclusters" />
        <button
          :class="isAdmin ? '' : 'hidden'"
          v-on:mouseup="
            (e) => {
              updateFullSummary();
              e.stopPropagation();
              e.preventDefault();
            }
          "
          type="submit"
        >
          Update full summary
        </button>
        <button
          v-on:mouseup="
            (e) => {
              computeProjection();
              e.stopPropagation();
              e.preventDefault();
            }
          "
          type="submit"
        >
          Update projection
        </button>
        <button
          :class="isAdmin ? '' : 'hidden'"
          v-on:mouseup="
            (e) => {
              saveProjection();
              e.stopPropagation();
              e.preventDefault();
            }
          "
          type="submit"
        >
          Save paths
        </button>
      </foreignObject>

      <g
        :transform="
          `translate(10,${14 * ind +
            (openpath >= 0 && openpath < ind ? 120 : 0)})`
        "
        v-for="(path, ind) in paths"
        :key="`reduction${ind}`"
        v-on:mouseup="(e) => toggleProjection(e, ind)"
        class="reduction"
      >
        <!--<rect
        :opacity='openpath===ind?0:1'
        height='10'
        width='30'
        fill='#fff'
        :y='-1'
        :x='-5'
      />-->
        <rect
          height="8"
          width="20"
          :fill="path.reduction ? '#952062' : '#ccc'"
        />
      </g>
    </g>
  </g>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  components: {},
  name: "Projection",
  props: ["paths", "pathswidth", "height"],
  data() {
    return {
      selectedProjection: 0,
      projections: [],
      minsamples: 5,
    };
  },
  mounted() {
    this.minsamples = this.minclusters;
  },
  watch: {
    minclusters(newmin) {
      this.minsamples = newmin;
    },
  },
  computed: {
    ...mapGetters(["minclusters", "width", "openpath"]),
    isAdmin() {
      return localStorage.getItem("missingIdentifier") === "Admin";
    },
  },
  methods: {
    ...mapActions(["computeProjection", "saveProjection", "updateFullSummary"]),
    toggleProjection(e, index) {
      this.$emit("togglePathProjection", index);
      e.stopPropagation();
      e.preventDefault();
    },
  },
};
</script>
<style scoped>
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
rect {
  cursor: pointer;
}
</style>
