<template>
  <g>
    <g v-if="lasso.length > 0 || hoveredzone" :class="currentAction">
      <polyline
        v-if="lasso.length > 0"
        fill="#ccc"
        opacity="0.5"
        stroke="#952062"
        :points="getSelectedPoints()"
        v-on:mousedown="selectionClicked"
      />
      <rect
        v-for="(selectedPoint, ind) in lasso"
        :key="`selectedPoint${ind}`"
        :x="selectedPoint[0]"
        :y="selectedPoint[1]"
        fill="#952062"
        :width="7"
        :height="7"
        v-on:mouseup="(e) => handleReleased(e, ind)"
      />
      <foreignObject
        width="45"
        height="16"
        :x="lasso.length > 0 ? lasso[0][0] - 20 : zones[hoveredzone].center[0]"
        :y="lasso.length > 0 ? lasso[0][1] - 20 : zones[hoveredzone].center[1]"
      >
        <div>
          <img
            v-if="conditions['lasso']"
            :src="
              conditions['lasso'][1]
                ? '/files/removeinverse.svg'
                : '/files/remove.svg'
            "
            alt="Remove entities in the lasso from selection constraint"
            title="Remove entities in the lasso from selection constraint"
            class="button"
            v-on:mouseup="removeLasso"
          />
          <img
            v-else
            src="/files/add.svg"
            alt="Add entities in the lasso to selection constraints"
            title="Add entities in the lasso to selection constraints"
            :class="`button`"
            v-on:mouseup="
              (e) => {
                addLasso(e, hoveredzone);
              }
            "
            v-on:mouseover="
              (e) => {
                hoveredzone ? setHoveredZone(hoveredzone) : e.preventDefault();
                e.stopPropagation();
              }
            "
            v-on:mouseout="
              (e) => {
                hoveredzone ? setHoveredZone(hoveredzone) : e.preventDefault();
                e.stopPropagation();
              }
            "
          />
          <img
            v-if="!conditions['lasso'] && lasso.length > 0"
            src="/files/deletesmall.svg"
            alt="Release lasso"
            title="Release lasso"
            :class="`button`"
            v-on:mouseup="deleteSelection"
          />
        </div>
      </foreignObject>
    </g>
  </g>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  components: {},
  name: "selection",
  props: [],
  data() {
    return {
      currentAction: undefined,
      selectedHandle: undefined,
      selectionTarget: [],
    };
  },
  computed: {
    ...mapGetters([
      "conditions",
      "hoveredzone",
      "lasso",
      "transformMap",
      "zones",
    ]),
    width() {
      return window.innerWidth - 10;
    },
    coeff() {
      return this.width / 200;
    },
    height() {
      return window.innerHeight - 10;
    },
  },
  methods: {
    ...mapActions([
      "addLassoSelectionToConditions",
      "removeLassoFromConditions",
      "setLassoFromHoveredZone",
    ]),
    ...mapMutations(["addToLasso", "resetLasso", "setHoveredZone"]),
    addLasso(e, hoveredzone) {
      e.stopPropagation();
      e.preventDefault();
      //this.addToLasso()
      if (hoveredzone) {
        this.setLassoFromHoveredZone();
      }
      this.addLassoSelectionToConditions();
      //
      this.$forceUpdate();
    },
    removeLasso(e) {
      e.stopPropagation();
      e.preventDefault();
      this.removeLassoFromConditions();
      this.$forceUpdate();
    },
    getSelectedPoints() {
      return this.lasso.reduce((acc, cur) => {
        acc.push(cur[0]);
        acc.push(cur[1]);
        return acc;
      }, []);
    },
    mouseup(e) {
      //if( this.currentAction === 'moveHandle') this.handleReleased()
      if (
        this.currentAction === "movePath" ||
        this.currentAction === "moveSelection"
      ) {
        this.selectionTarget = [];
        this.resetLasso();
        this.currentAction = undefined;
      } else if (
        this.currentAction !== "selectionCompleted" &&
        e.clientX < this.width / 2
      ) {
        this.addToLasso([e.clientX, e.clientY]);
        this.currentAction = "selectionStarted";
      }
      e.stopPropagation();
      e.preventDefault();
    },
    async copyup(e) {
      if (this.currentAction === "movePath") {
        //alert('on prend acte')
        let selected = await fetch(
          this.$store.state.api +
            "/api/selection/" +
            this.$store.state.collection,
          {
            method: "POST",
            body: JSON.stringify({
              conditions: [
                [
                  this.pathinfo.path,
                  this.pathinfo.type,
                  this.pathinfo.value,
                  this.pathinfo.inverse,
                ],
              ],
            }),
            headers: {
              "Content-Type": "application/json",
              "Access-Control-Allow-Origin": "*",
            },
          }
        ).then((res) => res.json());
        this.$store.dispatch("addToSelection", selected.entities);
        this.currentAction = undefined;
        this.deleteSelection(e);
      } else if (this.currentAction === "moveSelection") {
        //alert('on prend acte')
        this.$emit("addSelection", this.lasso, [e.clientX, e.clientY]);
        this.currentAction = undefined;
        this.deleteSelection(e);
      }
      e.stopPropagation();
      e.preventDefault();
    },
    async replaceup(e) {
      if (this.currentAction === "movePath") {
        //alert('on prend acte')
        let selected = await fetch(
          this.$store.state.api +
            "/api/selection/" +
            this.$store.state.collection,
          {
            method: "POST",
            body: JSON.stringify({
              conditions: [
                [
                  this.pathinfo.path,
                  this.pathinfo.type,
                  this.pathinfo.value,
                  this.pathinfo.inverse,
                ],
              ],
            }),
            headers: {
              "Content-Type": "application/json",
              "Access-Control-Allow-Origin": "*",
            },
          }
        ).then((res) => res.json());
        this.$store.dispatch("replaceSelection", selected.entities);
        this.currentAction = undefined;
        this.deleteSelection(e);
      } else if (this.currentAction === "moveSelection") {
        //alert('on prend acte')
        this.$emit("replaceSelection", this.selection, [e.clientX, e.clientY]);
        this.currentAction = undefined;
        this.deleteSelection(e);
      }
      e.stopPropagation();
      e.preventDefault();
    },
    mousemove(e) {
      if (
        (this.currentAction === "moveSelection" ||
          this.currentAction === "movePath") &&
        (Math.abs(e.clientX - this.selectionTarget[2]) > 3 ||
          Math.abs(e.clientY - this.selectionTarget[3]) > 3)
      ) {
        this.selectionTarget = [
          this.selectionTarget[0],
          this.selectionTarget[1],
          e.clientX,
          e.clientY,
        ];
      }
    },
    deleteSelection(e) {
      this.resetLasso();
      //this.currentAction = undefined
      e.stopPropagation();
      e.preventDefault();
    },
    handleReleased(e, ind) {
      if (ind == 0 && this.selection.length > 1) {
        this.selection.push([this.selection[0][0], this.selection[0][1]]);
        this.currentAction = "selectionCompleted";
        //alert('handle released')
      }
      e.stopPropagation();
      e.preventDefault();
    },
    selectionClicked(e) {
      this.currentAction = "moveSelection";
      this.selectionTarget = [e.clientX, e.clientY, e.clientX, e.clientY];
      e.stopPropagation();
      e.preventDefault();
    },
    pathClicked(e, path, type, value, inverse) {
      this.currentAction = "movePath";
      this.pathinfo = { path, type, value, inverse };
      this.selectionTarget = [e.clientX, e.clientY, e.clientX, e.clientY];
      e.stopPropagation();
      e.preventDefault();
    },
  },
};
</script>
<style>
.selectionCompleted polyline {
  cursor: pointer;
}
.button {
  cursor: pointer;
  width: 15px;
}
</style>
