<template>
  <div :class="`settings`" :style="settingsStyles">
    <div>
      <label for="fieldcollection">Collection</label>
      <select id="fieldcollection" v-model="collect">
        <option
          v-for="(coll, i) in collections"
          :key="`collection${i}`"
          :value="coll"
          >{{ coll }}</option
        >
      </select>
    </div>
    <div>
      <label for="fieldpreflanguages">Preferred languages</label>
      <input id="fieldpreflanguages" type="text" v-model="lang" />
    </div>
    <input
      type="submit"
      value="Save settings"
      class="submit"
      v-on:mouseup="changeSettings"
    />
  </div>
</template>
<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
export default {
  components: {},
  name: "settings",
  props: ["width", "height", "pathswidth"],
  data() {
    return {
      collect: undefined,
      userid: "",
      lang: undefined,
    };
  },
  mounted() {
    this.collect = this.collection;
    this.lang = this.preflanguages.join(",");
  },
  watch: {
    collection(newcollec) {
      this.collect = newcollec;
    },
    preflanguages(newlang) {
      this.lang = newlang.join(",");
    },
  },
  computed: {
    ...mapGetters(["collections", "collection", "preflanguages"]),
    settingsStyles() {
      return {
        width: (this.width - this.pathswidth) / 2 + "px",
        left: this.width + this.pathswidth + "px",
        height: this.height - 40 + "px",
        top: 40 + "px",
      };
    },
  },
  methods: {
    ...mapActions(["displayCollection"]),
    ...mapMutations([
      "setUserId",
      "setPrefLanguages",
      "setCollection",
      "setSettingsVisible",
    ]),
    changeSettings() {
      if (this.collect !== this.collection) {
        this.$store.commit("setCollection", this.collect);
        this.$store.dispatch("displayCollection");
      }
      if (
        this.preflanguages.length === 0 ||
        this.lang !== this.preflanguages.join(",")
      ) {
        this.$store.commit("setPrefLanguages", this.lang.split(","));
      }
      this.$store.commit("setSettingsVisible", false);
    },
  },
};
</script>
<style scoped>
.settings {
  position: absolute;
  z-index: 30;
  background: #fff;
  opacity: 0.8;
  border-left: 1px solid #ccc;
  overflow-y: scroll;
}
.settings div {
  opacity: 1;
  padding: 10px;
  background: #fff;
}
input.submit {
  margin: 10px;
}
.settingsfalse fieldset,
.settingsfalse input.submit {
  display: none;
}
</style>
