
<template>
  <div
    class='slider'
    :style='sliderStyles'
  >
    <input
      type='range'
      id='slider'
      name='slider'
      min='0'
      max='100'
      style='width:100px'
      v-model='slide'
      v-on:keydown.right='nextPath'
    /> 
  </div>
</template>

<script>

export default {
  components: {  },
  name: 'pathsvg',
  props: ['width', 'height'],
  data() {
    return {
      slide: 0
    }
  },
  watch: {
    slide(newSlider){
      this.$emit('changeSlider', newSlider)
    }
  },
  computed: {
    sliderStyles() {
      return {
        left: this.width - 92 + 'px',
        bottom: 60 + 'px'
      }
    }
  },
  methods: {

  }
};
</script>
<style scoped>
.slider{
  position: absolute;
  z-index: 10;
}
input {
  transform: rotate(90deg);
  cursor: pointer;
}
</style>
