<template>
  <div>
    <svg
      class="svg"
      :width="width"
      :height="height"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      v-on:mouseup="mouseup"
      v-on:mousemove="mousemove"
    >
      <defs>
        <pattern
          id="Pattern"
          x="0"
          y="0"
          width="4"
          height="4"
          patternUnits="userSpaceOnUse"
        >
          <rect x="0" y="0" width="2" height="2" fill="#952062" />
          <rect x="2" y="2" width="2" height="2" fill="#952062" />
        </pattern>
        <pattern
          id="PatternBg"
          x="0"
          y="0"
          width="4"
          height="4"
          patternUnits="userSpaceOnUse"
        >
          <rect x="0" y="0" width="2" height="2" fill="#c194ae" />
          <rect x="2" y="2" width="2" height="2" fill="#c194ae" />
        </pattern>
        <radialGradient
          id="gradient1"
          cx="50%"
          cy="50%"
          r="50%"
          v-if="gradientcolors.length > 0"
        >
          <stop
            v-for="(gradientcolor, i) in gradientcolors"
            :key="`stopgradient${gradientcolor}`"
            :stop-color="gradientcolor"
            :offset="
              `${
                i === 0
                  ? 0
                  : i === gradientcolors.length - 1
                  ? 100
                  : (100 / gradientcolors.length - 1) * i
              }%`
            "
          />
        </radialGradient>
      </defs>
      <MapBig
        class="mapbig"
        ref="mapbig"
        :entities="entities"
        :width="width / 2"
      />
      <rect :x="width / 2" fill="#fff" :width="width / 2" :height="height" />
      <g :transform="`translate(${width / 2},${offsetSlide})`" :class="`paths`">
        <g
          :transform="`translate(${pathswidth + setwidth},36)`"
          v-if="pathssubset.length > 0"
        >
          <PathItemSelection
            v-for="path in pathlist()"
            :key="`setpath${path.index}`"
            :width="setwidth"
            :index="path.index"
            :path="path"
            :open="openpath === path.index"
            :y="
              path.index * (pathsstate === 2 ? 14 : 14) +
                (openpath < path.index ? 112 : 0)
            "
            v-on:PathClicked="PathClicked"
          />
        </g>
        <g :transform="`translate(0,36)`">
          <PathPattern
            v-for="(path, ind) in paths"
            :key="`pathpattern${ind}`"
            :totalValues="pathssubset[ind] ? pathssubset[ind].totalValues : 1"
            :pathsubset="pathssubset[ind] ? pathssubset[ind] : undefined"
            :path="path"
            :width="widthpathpattern"
            :indexpath="ind"
            :height="height"
            :open="openpath === ind"
            v-on:PathClicked="PathClicked"
          />
        </g>
        <g :transform="`translate(${pathswidth},36)`">
          <PathItem
            v-for="(path, ind) in paths"
            :key="`bgsetpath${ind}`"
            :width="setwidth"
            :index="ind"
            :path="path"
            :open="openpath === ind"
            :y="ind * (pathsstate === 2 ? 14 : 14) + (openpath < ind ? 112 : 0)"
            v-on:PathClicked="PathClicked"
          />
        </g>
      </g>
      <Selection
        ref="selection"
        v-on:addSelection="addSelection"
        v-on:replaceSelection="replaceSelection"
      />
      <Projection
        :transform="`translate(0,${offsetSlide})`"
        ref="projection"
        v-if="projectionvisible"
        v-on:togglePathProjection="togglePathProjection"
        :paths="paths"
        :pathswidth="pathswidth"
        :height="height"
      />
      <Color
        :transform="`translate(0,${offsetSlide})`"
        ref="color"
        v-if="colorvisible"
        :paths="paths"
        :height="height"
        :pathswidth="pathswidth"
      />
    </svg>
    <HeaderItem :width="width / 2" ref="header" />
    <MapSmall :width="width / 2" ref="mapsmall" />
    <Entities
      v-if="entitiesvisible"
      :width="width / 2"
      :height="height"
      :elements1="selection"
      :pathswidth="pathswidth"
      ref="entities"
    />
    <Constraints
      v-if="constraintsvisible"
      :width="width / 2"
      :height="height"
      :pathswidth="pathswidth"
      ref="constraints"
    />
    <Settings
      :transform="`translate(0,${offsetSlide})`"
      ref="settings"
      v-if="settingsvisible"
      :height="height"
      :pathswidth="pathswidth"
      :width="width / 2"
    />
    <Slider
      ref="slider"
      :width="width / 2"
      :height="height"
      v-on:changeSlider="changeSlider"
    />
    <input
      type="text"
      class="hidden"
      id="focus"
      ref="focus"
      v-on:keydown.right="(e) => $store.commit('nextPath')"
      v-on:keydown.left="(e) => $store.commit('previousPath')"
    />
    <URI :width="width / 2" />
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import Color from "./Color.vue";
import Constraints from "./Constraints.vue";
import Entities from "./Entities.vue";
import HeaderItem from "./HeaderItem.vue";
import MapBig from "./MapBig.vue";
import MapSmall from "./MapSmall.vue";
import PathPattern from "./PathPattern.vue";
import Projection from "./Projection.vue";
import PathItem from "./PathItem.vue";
import PathItemSelection from "./PathItemSelection.vue";
import Selection from "./Selection.vue";
import Settings from "./Settings.vue";
import Slider from "./Slider.vue";
import URI from "./URI.vue";
export default {
  name: "tmp",
  components: {
    Color,
    Constraints,
    Entities,
    HeaderItem,
    MapBig,
    MapSmall,
    PathItem,
    PathItemSelection,
    PathPattern,
    Projection,
    Selection,
    Slider,
    Settings,
    URI,
  },
  data() {
    return {};
  },
  mounted() {
    this.setWidths();
    this.$store.dispatch("loadConfig");
    this.$store.dispatch("displayCollection");
  },
  computed: {
    ...mapGetters([
      "color",
      "colorfunction",
      "colorvisible",
      "constraintsvisible",
      "entities",
      "entitiesvisible",
      "gradientcolors",
      "openpath",
      "openpaths",
      "paths",
      "pathssubset",
      "pathsstate",
      "projectionvisible",
      "selection",
      "settingsvisible",
      "sliderposition",
      "width",
      "widthpathpattern",
    ]),
    pathswidth() {
      return this.widthpathpattern;
    },
    setswidth() {
      return Math.floor(this.width / 2) - this.pathswidth;
    },
    setwidth() {
      return this.setswidth * 0.5;
    },
    height() {
      return window.innerHeight - 10;
    },
    offsetSlide() {
      let available = this.height - 40;
      let needed =
        this.pathsstate === 2
          ? this.paths.length * 18 + 112
          : this.paths.length * 10 + 112;
      let bigslide = available - needed;
      return (this.sliderposition * bigslide) / 100;
    },
  },
  sockets: {
    summary_ws: function() {
      this.$forceUpdate();
    },
    connect: function() {},
  },
  methods: {
    ...mapActions([
      "addToSelection",
      "clearSelection",
      "displayCollection",
      "getProjection",
      "loadConfig",
      "removeFromSelection",
      "replaceSelection",
      "setWidths",
      "toggleEntities",
      "toggleProjection",
      "toggleSettings",
      "toggleColor",
      "validateSelection",
    ]),
    ...mapMutations(["setEntities"]),
    pathlist() {
      return this.pathssubset
        ? this.pathssubset
            .map((path, index) => (path ? { ...path, index } : false))
            .filter((path) => path)
        : [];
    },
    addSelection(selection) {
      let selected = this.$refs.mapbig.getSelectedPoints(selection);
      this.$store.dispatch("addToSelection", selected);
    },
    replaceSelection(selection) {
      let selected = this.$refs.mapbig.getSelectedPoints(selection);
      this.$store.dispatch("replaceSelection", selected);
    },
    togglePathProjection(ind) {
      if (this.paths[ind].reduction) {
        this.paths[ind].reduction = false;
      } else {
        let count = this.paths.filter((p) => p.reduction);
        if (count.length < 50) {
          this.paths[ind].reduction = true;
        } else {
          alert("50 paths max for vector reduction");
        }
      }
    },
    changeSlider(newSlider) {
      this.$store.commit("setSliderPosition", newSlider);
    },
    deleteSelection() {
      this.$store.dispatch("clearSelection");
    },
    PathClicked() {
      this.$refs.focus.focus();
    },
    PathSelected(e, path, type, value, inverse) {
      this.$refs.selection.pathClicked(e, path, type, value, inverse);
    },
    mouseup(e) {
      this.$refs.selection.mouseup(e);
    },
    copyup(e) {
      this.$refs.selection.copyup(e);
    },
    replaceup(e) {
      this.$refs.selection.replaceup(e);
    },
    mousemove(e) {
      this.$refs.selection.mousemove(e);
    },
  },
};
</script>

<style>
body {
  padding: 0;
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
g.pictoactive {
  cursor: pointer;
}
g.picto rect {
  stroke: #ccc;
  fill: #fff;
}
g.pictoactive:hover rect {
  fill: #efefef;
}
g.picto use {
  fill: #333;
}
g.picto text,
text.total {
  font-size: 0.7em;
}
.text {
  position: absolute;
  right: 0;
}
.hidden {
  opacity: 0;
}
.svg {
  position: absolute;
}
.wrappictocopy {
  background: url("/files/copy.svg") #f00 left top no-repeat;
}
</style>
