<template>
  <section class="uri" :style="sectionStyles">
    <h1 v-if="activeURI">
      <a :href="stripedURI" target="_blank"> {{ stripedURI }}</a>
    </h1>
    <p v-if="activeURIDetail.labels && activeURIDetail.labels.length > 0">
      {{ activeURIDetail.labels[0] }}
    </p>
    <p v-if="activeURIDetail.comments && activeURIDetail.comments.length > 0">
      {{ activeURIDetail.comments[0] }}
    </p>
  </section>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  components: {},
  name: "URI",
  props: ["width"],
  data() {
    return {};
  },
  watch: {},
  computed: {
    ...mapGetters(["activeURI", "activeURIDetail"]),
    stripedURI() {
      return this.activeURI.replace("<", "").replace(">", "");
    },
    sectionStyles() {
      return {
        width: this.width - 10 + "px",
      };
    },
  },
  methods: {
    ...mapActions([""]),
  },
};
</script>
<style scoped>
section {
  position: absolute;
  background: #000;
  left: 0;
  top: 0;
  padding: 8px 0 0 10px;
  min-height: 27px;
}
h1 {
  font-size: 0.7em;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  font-weight: normal;
  color: #fff;
}
h1 a {
  text-decoration: none;
  color: #fff;
}
h1 a:hover {
  text-decoration: underline;
}
p {
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
}
</style>
