html
  head
    title= title
  body
    h1= message
    form(method='POST' action='/openfoodfacts')
        div.form-group
            label(for='identifier') Identifier
            input.form-control(type='text' id='identifier' placeholder='identifier' name='identifier')
        div.form-group
            label(for='codes') Codes
            textarea.form-control(id='codes' placeholder='' name='codes' value='')
        
        div.form-group
            label(for='step') Step
            select.form-control(type='number' id='step' name='step')
                each variable in [1, 2]
                    option(value=variable) #{variable}
        button.btn.btn-primary(type='submit') Get Path Summaries

    
    if rawpaths
        p
            a(class='button' target='_blank' href=rawpaths) Raw paths
    if fullpaths
        p
            a(class='button' target='_blank' href=fullpaths) Full paths
    if entities
        p
            a(class='button' target='_blank' href=entities) Entities
    if pathsummaries
        p
            a(class='button' target='_blank' href=pathsummaries) Path summaries
    if error
        p
            #{error}