@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300,400");
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400");

body {
  background-color: #171d25;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #22A7F0;
  transition: color 0.7s;
}
a:hover {
  color: #C5EFF7;
}

.title {
  text-align: center;
  color: #FFFFFF;
	font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
	font-weight: 300;
	line-height: 1.5em;
  margin-top: 20px;
}

.title > span.github {
  font-size: 14px;
}

.title > span.subtitle {
  font-size: 16px;
}

.panel {
  display: flex;
  flex: 1;
  padding: 40px;
}

#control-panel {
  flex: 1;
  display: flex;
  max-height: 650px;
  flex-direction: column;
}

#control-panel > .param {
  flex: 1;
  display: flex;
  margin: 10px;
}

#control-panel > .param > label {
  flex: 1;
  text-align: right;
  color: #81CFE0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  padding: 0 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

#control-panel > .param > input[type='range'] {
  flex: 0 0 40%;
  width: 100%;
  text-align: center;
}

#control-panel > .param > select {
  flex: 0 0 40%;
  width: 100%;
  text-align: center;
}

#control-panel > .param > output {
  flex: 1;
  text-align: left;
  color: #81CFE0;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  padding: 0 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

#control-panel > #run-button {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 12px 36px;
  border: 1px solid #81CFE0;
  display: inline-block;
  text-align: center;
  color: #81CFE0;
	font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
	font-weight: 300;
	line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out, color 0.5s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#control-panel > #run-button:hover {
  background-color: #81CFE0;
  border-color: #81CFE0;
  color: #FFFFFF;
  cursor: pointer;
}

#control-panel > #progress {
  text-align: left;
  line-height: 1.5em;
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  color: #81CFE0;
  font-size: 16px;
  font-weight: 400;
}

#control-panel > #progress span#progress-status {
  font-style: italic;
}

#embedding-space {
  flex: 1;
  text-align: left;
}

#embedding-space > .sample {
  position: absolute;
}

.footer {
  padding: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #AAAAAA;
  background: #272d35;
}